* {box-sizing: border-box;}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #4d7d3b;
  padding: 20px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background: linear-gradient(90deg, #006400, #228B22);
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  }

body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-image:url('https://wallpapercave.com/wp/wp7123315.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.opis{
  background-color: rgba(255, 255, 255, 0.6);
  margin: 20px;
  border-radius: 5px;
}

.opis-oglav{
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}

p {
  font-size: 20px;
  font-family:sans-serif;
  margin:15px;
}

.conteiner-firefly{
      position: relative;
      width: 100%;

      margin: auto;
}

.background-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.firefly {
      position: absolute;
      top: 35%;
      left: 35%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-color: #444;
      border-radius: 50%;
      box-shadow: 0 0 5px #000;
      transition: all 0.3s ease;
      cursor: pointer;
    }

.firefly:hover {
   background-color: #ffff33;
   box-shadow: 0 0 45px 25px #ffff66;
    }
footer {
  background-color:#1a1e27;
  color:#8497b4;
  margin: 20px;
}

footer img {
    width: 138px;
    height: 90px;
    background: url(/_nuxt/img/spider.cf96d95.png);
    margin-top: -60px;
    margin-left: 50px;
}

.Mista {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}

.Mista img {
  display: block;
  margin: 0 auto;
  padding: 50px;
  height: 800px;
}
